/*   animation: name duration timing-function delay iteration-count direction fill-mode; */

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

section {
  height: 150px;
  padding: 10px;
  width: 100%;
  border: 2px solid grey;
  position: relative;
}

button {
  margin: 10px;
  width: 100px;
}

#hover-button {
  background: rgb(0, 255, 247);
  border: 1px solid rgb(0, 255, 247);
  border-radius: 5px;
  transition: all 0.5s;
}

#hover-button:hover {
  box-shadow: 0px 0px 10px yellow;
  transform: scale(1.05);
}

#shape {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  transform: translateX(-50px);
  animation: moveRight 3s ease-in-out infinite;
}
#ball-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 0px 5px;
  position: relative;
  bottom: 0;
  transform: scaleX(1.15) scaleY(0.85);
  animation: bounce 1s infinite alternate;
  z-index: 1;
}

#ball-one {
  background-color: red;
}

#ball-two {
  background-color: blue;
  animation-delay: 0.5s;
}

#ball-three {
  background-color: yellow;
  animation-delay: 1s;
}

#landing-spot {
  width: 125px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  border-bottom: 1px solid black;
  box-shadow: 0px 3px 5px gray;
  transform: translateY(10px);
}

@keyframes moveRight {
  from {
    left: 50px;
  }
  to {
    left: calc(100% - 50px);
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  100% {
    transform: scale(1);
    bottom: 50px;
  }
}
